<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-authorize-net-inperson"
    version="1.0.0">
    <name>Cordova Authorize Net Inperson</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="AuthorizeNetPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AuthorizeNetPlugin">
          <param name="android-package" value="com.authorizenet.cordova.AuthorizeNetPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <framework src="com.android.support:appcompat-v7:25.3.1" />
      <framework src="src/android/config.gradle" custom="true" type="gradleReference" />
      <source-file src="src/android/com/authorizenet/cordova/AuthorizeNetPlugin.java" target-dir="src/com/authorizenet/cordova/" />
      <resource-file src="src/android/libs/emv-anet-sdk.aar" target="libs/emv-anet-sdk.aar" />
    </platform>
</plugin>
